/* NB: THE SHEET IS INTENDED FOR FIREFOX, BRAVE OR CHROME */

/* This is the main character sheet body that contains both
the invariant header and th erest of the sheet.
By setting all elements in here we can be strict with background
colour and element widths. */
div.new-character-sheet-for-fantasy-worlds {
    background-color: #f2f4ec;
    min-width: 780px;
    max-width: 780px;
}

/* Since different browsers tend to work a little differently with fonts
we make sure to keep default font sizes constant */
/* This was found to be a problem between firefox and brave */
div,
table,
input,
button,
textarea,
th,
td {
    font-size: 13.4px;
}

/* We also hide scrollbars on everything */
::-webkit-scrollbar {
    visibility: hidden;
}

.sheet-basics-inner2 {
    display: grid;
    grid-template-columns: 420px 340px;
    grid-template-rows: 480px;
    grid-template-areas:
        "attack-tab attack-det"
        /*  */
    ;
    grid-gap: 3px;
    background-color: #e5e7e3;
    border: 1px solid rgb(104, 101, 101);
    padding: 4px;
}

div.attack-tab {
    padding-top: 4px;
    grid-area: attack-tab;
    align-content: left;
    align-items: left;
    background-color: #e5e7e3;
    /* width: 100%;
    height: 100%; */

}

div.attack-details {
    padding-top: 4px;
    grid-area: attack-det;
    align-content: left;
    align-items: left;
    background-color: #e5e7e3;
    min-width: 332px;
    min-height: 472px;
}

span.attack-name-span {
    display: flex;
    flex-wrap:nowrap;
    max-width:300px;
    min-width:300px;
    width: 100%
}
button.attack-name-button {
    padding: 4px;
    width: 100%;
    max-width:200px;
    min-width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

select.wp-stat-select {
    max-width: 60px;
}

div.attack-notes {
    padding: 4px;
    align-content: left;
    align-items: left;
}

textarea.attack-notes {
    background-color: #e5e7e3;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* max-height: 260px; */
    max-height: max-content;
    height: max-content;
    max-width: 332px;
    min-height: 100px;
    min-width: 332px;
}

input.wr_name {
    width: 239px;
}

table.save-table.th {
    padding: 4px;
}

.sheet-basics-inner {
    display: grid;
    grid-template-columns: 96px 142px 0px 172px 210px 140px;
    grid-template-rows: 172px 216px 68px 194px;
    grid-template-areas:
        "stats-tab save-tab thr-tab  thr-tab hit-box h-movement"
        "stats-tab rest-box rest-box hp-box  hp-box  h-movement"
        "stats-tab b-notes b-notes  b-notes b-notes  b-notes"
        "stats-tab b-notes b-notes  b-notes b-notes  b-notes"
        /*  */
    ;
    grid-gap: 3px;
    background-color: #e5e7e3;
    border: 1px solid rgb(104, 101, 101);
    padding: 4px;
}

div.b-notes {
    padding: 4px;
    grid-area: b-notes;
    align-content: left;
    align-items: left;
}

textarea.b-notes {
    background-color: #e5e7e3;
    scroll-behavior: smooth;
    max-height: 260px;
    max-width: 668px;
    min-height: 260px;
    min-width: 668px;
}

div.stats-table {
    padding: 4px;
    grid-area: stats-tab;
    align-content: left;
    align-items: left;
}

table.stats-table {
    /* border: 1px solid rgb(104, 101, 101); */
    align-content: left;
    align-items: left;
}


input.stats-input {
    min-width: 60px;
    font-size: 10pt;
}

div.save-tab {
    padding: 4px;
    grid-area: save-tab;
}

div.thr-tab {
    padding: 4px;
    grid-area: thr-tab;
}

div.hit-box {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    grid-area: hit-box;
    border: 1px solid rgb(104, 101, 101);
}

th.hit-main {
    /* justify-content: top; */
    /* justify-items: top; */
    align-content: top;
}

table.save-table,
.resource-table,
.dice-table {
    caption-side: top;
    border: 1px solid rgb(104, 101, 101);
    padding: 4px;
}

tbody::after {
    content: '';
    display: block;
    height: 6px;
}

div.h-movement {
    padding: 4px;
    grid-area: h-movement;
    display: grid;
    column-count: 2;
    break-inside: avoid;
}

div.hp-box {
    padding: 4px;
    grid-area: hp-box;
    break-inside: avoid;
}

div.rest-box {
    padding: 4px;
    grid-area: rest-box;
    break-inside: avoid;
}

table.save-table.row {
    border: 1px solid rgb(104, 101, 101);
}

.h-name-main-table {
    display: grid;
    grid-template-columns: 208px 186px 94px 240px;
    grid-template-rows: 80px 52px;
    grid-template-areas:
        "hl-name h-template h-bns h-rki"
        "hl-name x x x"
    ;
    grid-gap: 3px;
    background-color: #e5e7e3;
    border: 1px solid rgb(104, 101, 101);
}

table.general-table {
    /* border-collapse: collapse; */
    border: 1px solid rgb(104, 101, 101);
    padding: 4px;
}


table.general-table.th,
td {
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid rgb(104, 101, 101);

}

select.size-selector {
    max-width: 148;
    width: 148px;
    min-width: 148;
    background-color: #f2f4ec;
}

select.adv-selector {
    max-width: 154px;
    background-color: #f2f4ec;
}

div.hl-name {
    max-width: 188px;
    padding: 4px;
    display: flex;
    grid-area: hl-name;
    flex-direction: row;
    align-items: flex-start
}

input.text-input-hl-name {
    width: 100%;
}

/* input[type=number].text-input-hl-name {
    max-width: 148px;
    min-width: 148px;
    width: 100%;
} */

div.h-lvl-params {
    padding: 4px;
    grid-area: h-lvl-params;
    column-count: 3;
    break-inside: avoid;
}

div.h-rki {
    padding: 4px;
    display: table;
    grid-area: h-rki;
    column-count: 2;
    break-inside: avoid;
}

div.h-template {
    padding: 4px;
    grid-area: h-template;
    display: grid;
    column-count: 2;
    break-inside: avoid;
}

div.h-bns {
    padding: 4px;
    grid-area: h-bns;
    display: grid;
    column-count: 2;
    break-inside: avoid;
}

th.stat-th {
    border: 1px solid rgb(104, 101, 101);
}

/* SKILL SHEET */
/* SKILL SHEET */
/* SKILL SHEET */
.sheet-skills-inner {
    display: grid;
    grid-template-columns: 220px 220px 160px 160px;
    grid-template-rows: 1000px 100px;
    grid-template-areas:
        "skills     skills     proficiencies  proficiencies"
        "skill-esb skill-rem   skill-rem      skill-ranks-max"
        /*  */
    ;
    grid-gap: 3px;
    background-color: #e5e7e3;
    border: 1px solid rgb(104, 101, 101);
    padding: 4px;
}

div.skills {
    padding: 4px;
    max-height: 100%;
    grid-area: skills;
    display: flex;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-y: scroll;
    break-inside: avoid;
    border: 1px solid rgb(104, 101, 101);
    background-color: #e5e7e3;
}

div.proficiencies {
    padding-left: 4px;
    padding-right: 4px;
    grid-area: proficiencies;
    display: flex;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-y: scroll;
    break-inside: avoid;
    border: 1px solid rgb(104, 101, 101);
    background-color: #e5e7e3;
}
table.proficiencies-table {
    max-width: 100%;
}

div.skill-esb {
    padding: 4px;
    grid-area: skill-esb;
    border: 1px solid rgb(104, 101, 101);
    background-color: #e5e7e3;
}

div.skill-rem {
    padding: 4px;
    display: flex;
    grid-area: skill-rem;
    border: 1px solid rgb(104, 101, 101);
    align-items: center;
    justify-content: center;
    background-color: #e5e7e3;
}

div.skill-ranks-max {
    padding: 4px;
    grid-area: skill-ranks-max;
    border: 1px solid rgb(104, 101, 101);
    background-color: #e5e7e3;
}

table.skill-table {
    max-height: 100%;
    width: 100%;
    caption-side: top;
    padding: 3px;
}

input.prof-name-input {
    width: 188px;
    max-width: 188px;
}

input.prof-desc-input {
    width: 188px;
    max-width: 188px;
}

span.prof-source-select {
    display: flex;
    padding-right: 4px;
    padding-top: 4px;
    max-width:106px;
    min-width:106px;
    width:100px;
}

input.prof-source-select {
    max-width:100px;
    min-width:100px;
    width:100px;
}

input.tiny-input-r {
    max-width: 60px;
    width: 60px;
    font-size: 13px;
}

/* ABILITIES SHEET */
/* ABILITIES SHEET */
/* ABILITIES SHEET */
div.sheet-abilities-inner {
    display: grid;
    grid-template-columns: 40px 340px 40px 340px;
    grid-template-rows: 40px 940px 400px;
    grid-template-areas:
        "ab-title        ab-title        ab-title        ab-title"
        "levels-a        ab-list-a       levels-b        ab-list-b"
        "ability-details ability-details ability-details ability-details"
        /*  */
    ;
    grid-gap: 3px;
    background-color: #e5e7e3;
    border: 1px solid rgb(104, 101, 101);
    padding: 4px;
}

div.ab-list-a,
.ab-list-b,
.levels-a,
.levels-b,
.ability-details {
    padding: 4px;
    /* border: 1px solid rgb(104, 101, 101); */
    background-color: #e5e7e3;
}

div.ab-list-a {
    grid-area: ab-list-a
}

div.ab-list-b {
    grid-area: ab-list-b
}

div.levels-a {
    height: 962px;
    width: 124%;
    grid-area: levels-a;
}

div.levels-b {
    height: 962px;
    width: 124%;
    grid-area: levels-b;
}

div.ability-details {
    grid-area: ability-details
}

div.ab-title {
    padding: 4px;
    background-color: #e5e7e3;
    grid-area: ab-title;
    display: flex;
    justify-content: center;
    align-items: center;
}

table.levels-table {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    min-width: 100%;
}

input[id=ability_name] {
    width: 272px;
}

textarea.ab-det {
    background-color: #e5e7e3;
    scroll-behavior: smooth;
    max-height: 200px;
    max-width: 760px;
    min-height: 200px;
    min-width: 760px;
}

/* SPELLS SHEET */
/* SPELLS SHEET */
/* SPELLS SHEET */
div.sheet-spells-inner {
    display: grid;
    grid-template-columns: 380px 380px;
    grid-template-rows: 40px 30px 920px;
    grid-template-areas:
        "spells-title spells-title"
        "sheet-spells-title sheet-spells-title"
        "spells-column-1 spell-description"
        /*  */
    ;
    grid-gap: 3px;
    background-color: #e5e7e3;
    border: 1px solid rgb(104, 101, 101);
    padding: 4px;
}


div.spells-title {
    padding: 4px;
    background-color: #e5e7e3;
    grid-area: spells-title;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.spell-button {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.spell-description {
    grid-area: spell-description;
    background-color: #e5e7e3;
    scroll-behavior: smooth;
    max-height: 100%;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-y: scroll;
    break-inside: avoid;
    padding: 4px;
    max-width: 376px;
    min-height: 920px;
    min-width: 376px;
    border: 1px solid rgb(104, 101, 101);
}

div.spells-column-1 {
    grid-area: spells-column-1;
    background-color: #e5e7e3;
    scroll-behavior: smooth;
    max-height: 100%;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-y: scroll;
    break-inside: avoid;
    max-width: 376px;
    min-height: 920px;
    min-width: 376px;
    border: 1px solid rgb(104, 101, 101);
    padding: 4px;
}
span.spell-name-span {
    align-content: left;
    align-items: left;
    display: flex;
    min-width: 300px;
    width: 300px;
    white-space: nowrap;
    flex-wrap: nowrap;
}
span.spell-name-inner {
    display: flex;
    flex-wrap:nowrap;
    max-width:160px;
    /* min-width:140px; */
    font-weight:500;
}
span.spell-type-outer {
    display: flex;
    flex-wrap:nowrap;
    color: grey;
}

div.spellbox {
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
}

textarea.spell-desc {
    background-color: #e5e7e3;
    scroll-behavior: smooth;
    max-height: 300px;
    max-width: 368px;
    min-height: 300px;
    min-width: 368px;
}

/* Does not work as extended, is table truly my only friend */
span.spell-label {
  min-width: 200px;
  max-width: 200px;
  padding-right: 4px;
}

input.text-input-spell {
    max-width: 440px;
    min-width: 340px;
}

input.text-input-spell {
    max-width: 200px;
    min-width: 120px;
}

textarea.spell-extra {
    background-color: #e5e7e3;
    scroll-behavior: smooth;
    max-height: 200px;
    max-width: 368px;
    min-height: 100px;
    min-width: 368px;
}

/* INVENTORY SHEET */
/* INVENTORY SHEET */
/* INVENTORY SHEET */
div.sheet-inventory-inner {
    display: grid;
    grid-template-columns: 760px;
    grid-template-rows: 60px 60px 600px 400px;
    grid-template-areas:
        "inventory-money"
        "inventory-weight"
        "inventory-items"
        "inventory-notes"
    ;
    grid-gap: 3px;
    background-color: #e5e7e3;
    border: 1px solid rgb(104, 101, 101);
    padding: 4px;
}

div.inventory-money {
    grid-area: inventory-money;
}

div.inventory-weight {
    grid-area: inventory-weight;
}

div.inventory-items {
    grid-area: inventory-items;
    padding: 4px;
    max-height: 100%;
    /* display: flex; */
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-y: scroll;
    break-inside: avoid;
    border: 1px solid rgb(104, 101, 101);
    background-color: #e5e7e3;
}

div.inventory-details {
    grid-area: inventory-details;
}
span.inv-item-name {
    text-decoration-line: underline;
    display: flex;
    flex-wrap:nowrap;
    max-width:400px;
    min-width:400px;
    font-weight:500;
}

textarea.inv-item-desc {
    background-color: #e5e7e3;
    scroll-behavior: smooth;
    max-height: 200px;
    max-width: 760px;
    min-height: 200px;
    min-width: 760px;
}

input[id=inv_item_name] {
    width: 272px;
    min-width: 100%;
}


/* BASIC STUFF */
/* BASIC STUFF */
/* BASIC STUFF */

div.cell-h-div {
    /* border: 1px solid rgb(104, 101, 101); */
    padding: 4px;
    max-width: 88px
}

input {
    background-color: #f2f4ec;
    border: none;
}

input[disabled="true"] {
    background-color: #e5e7e3;
}
input[readonly] {
    background-color: #e5e7e3;
}

input[type="checkbox"] {
    background-color: #f2f4ec;
    border: none;
}

input[type="checkbox"]:checked {
    background-color: #f2f4ec;
    border: none;
}

input[type="checkbox"]:checked::after {
    background-color: #f2f4ec;
    border: none;
}

select {
    background-color: #f2f4ec;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* This is here just in case some poor fool uses firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    width: 100%;
    text-align: center;
}


input.text-input-small {
    max-width: 40px;
}

input.tiny-input {
    max-width: 40px;
}

input.tiny-input-small {
    max-width: 30px;
    font-size: 10pt;
}

input.tiny-input-big {
    max-width: 60px;
    font-size: 18pt;
    min-height: 36pt;
}

input.tiny-input-huge {
    max-width: 60px;
    font-size: 24pt;
}

input.text-input-med {
    max-width: 60px;
}

input.text-input {
    max-width: 100px;
}

input.dice-input {
    max-width: 80px;
}

input.weapon-damage-show {
    max-width: 30px;
}
td.weapon-damage {
    max-height: 30px;
    white-space: nowrap;
}
span.weapon-damage-span {
    white-space: nowrap;
    flex-wrap: nowrap;
}

input.text-input-big {
    max-width: 140px;
}

* {
    box-sizing: border-box
}



button {
    background-color: #f2f4ec;
    box-shadow: inset;
    border: 1px solid rgb(104, 101, 101);
    cursor: pointer;
}

button:hover {
    background-color: #e2e4dc;
}

button:active {
    background-color: #f4f7ee;
}

button[type=roll].rb {
    background-color: #f2f4ec;
    box-shadow: inset;
    /* background-color: transparent; */
    border: 1px solid rgb(104, 101, 101);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
    display: block;
    width: 92%;
    height: 88%;
    image
}

button[type=roll]:active {
    background-color: #f4f7ee;
}

button[type=roll]:hover {
    background-color: #e2e4dc;
}

/* configure the tab buttons */
.new-character-sheet-for-fantasy-worlds .sheet-basics,
.new-character-sheet-for-fantasy-worlds .sheet-skills,
.new-character-sheet-for-fantasy-worlds .sheet-abilities,
.new-character-sheet-for-fantasy-worlds .sheet-spells,
.new-character-sheet-for-fantasy-worlds .sheet-inventory {
    display: none;
}

.new-character-sheet-for-fantasy-worlds .sheet-tabstoggle[value="basics"]~div.sheet-basics,
.new-character-sheet-for-fantasy-worlds .sheet-tabstoggle[value="skills"]~div.sheet-skills,
.new-character-sheet-for-fantasy-worlds .sheet-tabstoggle[value="abilities"]~div.sheet-abilities,
.new-character-sheet-for-fantasy-worlds .sheet-tabstoggle[value="spells"]~div.sheet-spells,
.new-character-sheet-for-fantasy-worlds .sheet-tabstoggle[value="inventory"]~div.sheet-inventory {
    display: block;
}

/* Toggle for spells */

div.spellbox-details-mp0-1,
div.spellbox-details-mp0-2,
div.spellbox-details-mp0-3,
div.spellbox-details-mp0-4,
div.spellbox-details-mp0-5,
div.spellbox-details-mp0-6,
div.spellbox-details-mp0-7,
div.spellbox-details-mp0-8,
div.spellbox-details-mp0-9,
div.spellbox-details-mp0-10,
div.spellbox-details-mp0-11,
div.spellbox-details-mp1-1,
div.spellbox-details-mp1-2,
div.spellbox-details-mp1-3,
div.spellbox-details-mp1-4,
div.spellbox-details-mp1-5,
div.spellbox-details-mp1-6,
div.spellbox-details-mp1-7,
div.spellbox-details-mp1-8,
div.spellbox-details-mp1-9,
div.spellbox-details-mp1-10,
div.spellbox-details-mp2-1,
div.spellbox-details-mp2-2,
div.spellbox-details-mp2-3,
div.spellbox-details-mp2-4,
div.spellbox-details-mp2-5,
div.spellbox-details-mp2-6,
div.spellbox-details-mp2-7,
div.spellbox-details-mp2-8,
div.spellbox-details-mp2-9,
div.spellbox-details-mp2-10,
div.spellbox-details-mp3-1,
div.spellbox-details-mp3-2,
div.spellbox-details-mp3-3,
div.spellbox-details-mp3-4,
div.spellbox-details-mp3-5,
div.spellbox-details-mp3-6,
div.spellbox-details-mp3-7,
div.spellbox-details-mp3-8,
div.spellbox-details-mp3-9,
div.spellbox-details-mp3-10,
div.spellbox-details-mp4-1,
div.spellbox-details-mp4-2,
div.spellbox-details-mp4-3,
div.spellbox-details-mp4-4,
div.spellbox-details-mp4-5,
div.spellbox-details-mp4-6,
div.spellbox-details-mp4-7,
div.spellbox-details-mp4-8,
div.spellbox-details-mp4-9,
div.spellbox-details-mp4-10,
div.spellbox-details-mp5-1,
div.spellbox-details-mp5-2,
div.spellbox-details-mp5-3,
div.spellbox-details-mp5-4,
div.spellbox-details-mp5-5,
div.spellbox-details-mp5-6,
div.spellbox-details-mp5-7,
div.spellbox-details-mp5-8,
div.spellbox-details-mp5-9,
div.spellbox-details-mp6-1,
div.spellbox-details-mp6-2,
div.spellbox-details-mp6-3,
div.spellbox-details-mp6-4,
div.spellbox-details-mp6-5,
div.spellbox-details-mp6-6,
div.spellbox-details-mp6-7,
div.spellbox-details-mp6-8,
div.spellbox-details-mp6-9,
div.spellbox-details-mp7-1,
div.spellbox-details-mp7-2,
div.spellbox-details-mp7-3,
div.spellbox-details-mp7-4,
div.spellbox-details-mp7-5,
div.spellbox-details-mp7-6,
div.spellbox-details-mp7-7,
div.spellbox-details-mp7-8,
div.spellbox-details-mp7-9,
div.spellbox-details-mp7-10,
div.spellbox-details-mp8-1,
div.spellbox-details-mp8-2,
div.spellbox-details-mp8-3,
div.spellbox-details-mp8-4,
div.spellbox-details-mp8-5,
div.spellbox-details-mp8-6,
div.spellbox-details-mp8-7,
div.spellbox-details-mp8-8,
div.spellbox-details-mp8-9,
div.spellbox-details-mp8-10,
div.spellbox-details-mp9-1,
div.spellbox-details-mp9-2,
div.spellbox-details-mp9-3,
div.spellbox-details-mp9-4,
div.spellbox-details-mp9-5,
div.spellbox-details-mp9-6,
div.spellbox-details-mp10-1,
div.spellbox-details-mp10-2,
div.spellbox-details-mp10-3,
div.spellbox-details-mp10-4,
div.spellbox-details-mp10-5 {
  display: none;
}

.mp-toggle[value="0-1"]~div.spellbox-details-mp0-1,
.mp-toggle[value="0-2"]~div.spellbox-details-mp0-2,
.mp-toggle[value="0-3"]~div.spellbox-details-mp0-3,
.mp-toggle[value="0-4"]~div.spellbox-details-mp0-4,
.mp-toggle[value="0-5"]~div.spellbox-details-mp0-5,
.mp-toggle[value="0-6"]~div.spellbox-details-mp0-6,
.mp-toggle[value="0-7"]~div.spellbox-details-mp0-7,
.mp-toggle[value="0-8"]~div.spellbox-details-mp0-8,
.mp-toggle[value="0-9"]~div.spellbox-details-mp0-9,
.mp-toggle[value="0-10"]~div.spellbox-details-mp0-10,
.mp-toggle[value="0-11"]~div.spellbox-details-mp0-11,
.mp-toggle[value="1-1"]~div.spellbox-details-mp1-1,
.mp-toggle[value="1-2"]~div.spellbox-details-mp1-2,
.mp-toggle[value="1-3"]~div.spellbox-details-mp1-3,
.mp-toggle[value="1-4"]~div.spellbox-details-mp1-4,
.mp-toggle[value="1-5"]~div.spellbox-details-mp1-5,
.mp-toggle[value="1-6"]~div.spellbox-details-mp1-6,
.mp-toggle[value="1-7"]~div.spellbox-details-mp1-7,
.mp-toggle[value="1-8"]~div.spellbox-details-mp1-8,
.mp-toggle[value="1-9"]~div.spellbox-details-mp1-9,
.mp-toggle[value="1-10"]~div.spellbox-details-mp1-10,
.mp-toggle[value="2-1"]~div.spellbox-details-mp2-1,
.mp-toggle[value="2-2"]~div.spellbox-details-mp2-2,
.mp-toggle[value="2-3"]~div.spellbox-details-mp2-3,
.mp-toggle[value="2-4"]~div.spellbox-details-mp2-4,
.mp-toggle[value="2-5"]~div.spellbox-details-mp2-5,
.mp-toggle[value="2-6"]~div.spellbox-details-mp2-6,
.mp-toggle[value="2-7"]~div.spellbox-details-mp2-7,
.mp-toggle[value="2-8"]~div.spellbox-details-mp2-8,
.mp-toggle[value="2-9"]~div.spellbox-details-mp2-9,
.mp-toggle[value="2-10"]~div.spellbox-details-mp2-10,
.mp-toggle[value="3-1"]~div.spellbox-details-mp3-1,
.mp-toggle[value="3-2"]~div.spellbox-details-mp3-2,
.mp-toggle[value="3-3"]~div.spellbox-details-mp3-3,
.mp-toggle[value="3-4"]~div.spellbox-details-mp3-4,
.mp-toggle[value="3-5"]~div.spellbox-details-mp3-5,
.mp-toggle[value="3-6"]~div.spellbox-details-mp3-6,
.mp-toggle[value="3-7"]~div.spellbox-details-mp3-7,
.mp-toggle[value="3-8"]~div.spellbox-details-mp3-8,
.mp-toggle[value="3-9"]~div.spellbox-details-mp3-9,
.mp-toggle[value="3-10"]~div.spellbox-details-mp3-10,
.mp-toggle[value="4-1"]~div.spellbox-details-mp4-1,
.mp-toggle[value="4-2"]~div.spellbox-details-mp4-2,
.mp-toggle[value="4-3"]~div.spellbox-details-mp4-3,
.mp-toggle[value="4-4"]~div.spellbox-details-mp4-4,
.mp-toggle[value="4-5"]~div.spellbox-details-mp4-5,
.mp-toggle[value="4-6"]~div.spellbox-details-mp4-6,
.mp-toggle[value="4-7"]~div.spellbox-details-mp4-7,
.mp-toggle[value="4-8"]~div.spellbox-details-mp4-8,
.mp-toggle[value="4-9"]~div.spellbox-details-mp4-9,
.mp-toggle[value="4-10"]~div.spellbox-details-mp4-10,
.mp-toggle[value="5-1"]~div.spellbox-details-mp5-1,
.mp-toggle[value="5-2"]~div.spellbox-details-mp5-2,
.mp-toggle[value="5-3"]~div.spellbox-details-mp5-3,
.mp-toggle[value="5-4"]~div.spellbox-details-mp5-4,
.mp-toggle[value="5-5"]~div.spellbox-details-mp5-5,
.mp-toggle[value="5-6"]~div.spellbox-details-mp5-6,
.mp-toggle[value="5-7"]~div.spellbox-details-mp5-7,
.mp-toggle[value="5-8"]~div.spellbox-details-mp5-8,
.mp-toggle[value="5-9"]~div.spellbox-details-mp5-9,
.mp-toggle[value="6-1"]~div.spellbox-details-mp6-1,
.mp-toggle[value="6-2"]~div.spellbox-details-mp6-2,
.mp-toggle[value="6-3"]~div.spellbox-details-mp6-3,
.mp-toggle[value="6-4"]~div.spellbox-details-mp6-4,
.mp-toggle[value="6-5"]~div.spellbox-details-mp6-5,
.mp-toggle[value="6-6"]~div.spellbox-details-mp6-6,
.mp-toggle[value="6-7"]~div.spellbox-details-mp6-7,
.mp-toggle[value="6-8"]~div.spellbox-details-mp6-8,
.mp-toggle[value="6-9"]~div.spellbox-details-mp6-9,
.mp-toggle[value="7-1"]~div.spellbox-details-mp7-1,
.mp-toggle[value="7-2"]~div.spellbox-details-mp7-2,
.mp-toggle[value="7-3"]~div.spellbox-details-mp7-3,
.mp-toggle[value="7-4"]~div.spellbox-details-mp7-4,
.mp-toggle[value="7-5"]~div.spellbox-details-mp7-5,
.mp-toggle[value="7-6"]~div.spellbox-details-mp7-6,
.mp-toggle[value="7-7"]~div.spellbox-details-mp7-7,
.mp-toggle[value="7-8"]~div.spellbox-details-mp7-8,
.mp-toggle[value="7-9"]~div.spellbox-details-mp7-9,
.mp-toggle[value="7-10"]~div.spellbox-details-mp7-10,
.mp-toggle[value="8-1"]~div.spellbox-details-mp8-1,
.mp-toggle[value="8-2"]~div.spellbox-details-mp8-2,
.mp-toggle[value="8-3"]~div.spellbox-details-mp8-3,
.mp-toggle[value="8-4"]~div.spellbox-details-mp8-4,
.mp-toggle[value="8-5"]~div.spellbox-details-mp8-5,
.mp-toggle[value="8-6"]~div.spellbox-details-mp8-6,
.mp-toggle[value="8-7"]~div.spellbox-details-mp8-7,
.mp-toggle[value="8-8"]~div.spellbox-details-mp8-8,
.mp-toggle[value="8-9"]~div.spellbox-details-mp8-9,
.mp-toggle[value="8-10"]~div.spellbox-details-mp8-10,
.mp-toggle[value="9-1"]~div.spellbox-details-mp9-1,
.mp-toggle[value="9-2"]~div.spellbox-details-mp9-2,
.mp-toggle[value="9-3"]~div.spellbox-details-mp9-3,
.mp-toggle[value="9-4"]~div.spellbox-details-mp9-4,
.mp-toggle[value="9-5"]~div.spellbox-details-mp9-5,
.mp-toggle[value="9-6"]~div.spellbox-details-mp9-6,
.mp-toggle[value="10-1"]~div.spellbox-details-mp10-1,
.mp-toggle[value="10-2"]~div.spellbox-details-mp10-2,
.mp-toggle[value="10-3"]~div.spellbox-details-mp10-3,
.mp-toggle[value="10-4"]~div.spellbox-details-mp10-4,
.mp-toggle[value="10-5"]~div.spellbox-details-mp10-5 {
  display: block;
}

/* Toggle for inventory */

div.inventory-details-1,
div.inventory-details-2,
div.inventory-details-3,
div.inventory-details-4,
div.inventory-details-5,
div.inventory-details-6,
div.inventory-details-7,
div.inventory-details-8,
div.inventory-details-9,
div.inventory-details-10,
div.inventory-details-11,
div.inventory-details-12,
div.inventory-details-13,
div.inventory-details-14,
div.inventory-details-15,
div.inventory-details-16,
div.inventory-details-17,
div.inventory-details-18,
div.inventory-details-19,
div.inventory-details-20,
div.inventory-details-21,
div.inventory-details-22,
div.inventory-details-23,
div.inventory-details-24,
div.inventory-details-25,
div.inventory-details-26,
div.inventory-details-27,
div.inventory-details-28,
div.inventory-details-29,
div.inventory-details-30 {
    display: none;
}

.inv-details[value="1"]~div.inventory-details-1,
.inv-details[value="2"]~div.inventory-details-2,
.inv-details[value="3"]~div.inventory-details-3,
.inv-details[value="4"]~div.inventory-details-4,
.inv-details[value="5"]~div.inventory-details-5,
.inv-details[value="6"]~div.inventory-details-6,
.inv-details[value="7"]~div.inventory-details-7,
.inv-details[value="8"]~div.inventory-details-8,
.inv-details[value="9"]~div.inventory-details-9,
.inv-details[value="10"]~div.inventory-details-10,
.inv-details[value="11"]~div.inventory-details-11,
.inv-details[value="12"]~div.inventory-details-12,
.inv-details[value="13"]~div.inventory-details-13,
.inv-details[value="14"]~div.inventory-details-14,
.inv-details[value="15"]~div.inventory-details-15,
.inv-details[value="16"]~div.inventory-details-16,
.inv-details[value="17"]~div.inventory-details-17,
.inv-details[value="18"]~div.inventory-details-18,
.inv-details[value="19"]~div.inventory-details-19,
.inv-details[value="20"]~div.inventory-details-20,
.inv-details[value="21"]~div.inventory-details-21,
.inv-details[value="22"]~div.inventory-details-22,
.inv-details[value="23"]~div.inventory-details-23,
.inv-details[value="24"]~div.inventory-details-24,
.inv-details[value="25"]~div.inventory-details-25,
.inv-details[value="26"]~div.inventory-details-26,
.inv-details[value="27"]~div.inventory-details-27,
.inv-details[value="28"]~div.inventory-details-28,
.inv-details[value="29"]~div.inventory-details-29,
.inv-details[value="30"]~div.inventory-details-30 {
    display: block;
}

/* Toggle for abilities */

div.ab-det-1,
div.ab-det-2,
div.ab-det-3,
div.ab-det-4,
div.ab-det-5,
div.ab-det-6,
div.ab-det-7,
div.ab-det-8,
div.ab-det-9,
div.ab-det-10,
div.ab-det-11,
div.ab-det-12,
div.ab-det-13,
div.ab-det-14,
div.ab-det-15,
div.ab-det-16,
div.ab-det-17,
div.ab-det-18,
div.ab-det-19,
div.ab-det-20,
div.ab-det-21,
div.ab-det-22,
div.ab-det-23,
div.ab-det-24,
div.ab-det-25,
div.ab-det-26,
div.ab-det-27,
div.ab-det-28,
div.ab-det-29,
div.ab-det-30,
div.ab-det-31,
div.ab-det-32,
div.ab-det-33,
div.ab-det-34,
div.ab-det-35,
div.ab-det-36,
div.ab-det-37,
div.ab-det-38,
div.ab-det-39,
div.ab-det-40,
div.ab-det-41,
div.ab-det-42,
div.ab-det-43,
div.ab-det-44,
div.ab-det-45,
div.ab-det-46,
div.ab-det-47,
div.ab-det-48,
div.ab-det-49,
div.ab-det-50,
div.ab-det-51,
div.ab-det-52,
div.ab-det-53,
div.ab-det-54,
div.ab-det-55,
div.ab-det-56,
div.ab-det-57,
div.ab-det-58,
div.ab-det-59,
div.ab-det-60 {
    display: none;
}

.abilities-details[value="1"]~div.ab-det-1,
.abilities-details[value="2"]~div.ab-det-2,
.abilities-details[value="3"]~div.ab-det-3,
.abilities-details[value="4"]~div.ab-det-4,
.abilities-details[value="5"]~div.ab-det-5,
.abilities-details[value="6"]~div.ab-det-6,
.abilities-details[value="7"]~div.ab-det-7,
.abilities-details[value="8"]~div.ab-det-8,
.abilities-details[value="9"]~div.ab-det-9,
.abilities-details[value="10"]~div.ab-det-10,
.abilities-details[value="11"]~div.ab-det-11,
.abilities-details[value="12"]~div.ab-det-12,
.abilities-details[value="13"]~div.ab-det-13,
.abilities-details[value="14"]~div.ab-det-14,
.abilities-details[value="15"]~div.ab-det-15,
.abilities-details[value="16"]~div.ab-det-16,
.abilities-details[value="17"]~div.ab-det-17,
.abilities-details[value="18"]~div.ab-det-18,
.abilities-details[value="19"]~div.ab-det-19,
.abilities-details[value="20"]~div.ab-det-20,
.abilities-details[value="21"]~div.ab-det-21,
.abilities-details[value="22"]~div.ab-det-22,
.abilities-details[value="23"]~div.ab-det-23,
.abilities-details[value="24"]~div.ab-det-24,
.abilities-details[value="25"]~div.ab-det-25,
.abilities-details[value="26"]~div.ab-det-26,
.abilities-details[value="27"]~div.ab-det-27,
.abilities-details[value="28"]~div.ab-det-28,
.abilities-details[value="29"]~div.ab-det-29,
.abilities-details[value="30"]~div.ab-det-30,
.abilities-details[value="31"]~div.ab-det-31,
.abilities-details[value="32"]~div.ab-det-32,
.abilities-details[value="33"]~div.ab-det-33,
.abilities-details[value="34"]~div.ab-det-34,
.abilities-details[value="35"]~div.ab-det-35,
.abilities-details[value="36"]~div.ab-det-36,
.abilities-details[value="37"]~div.ab-det-37,
.abilities-details[value="38"]~div.ab-det-38,
.abilities-details[value="39"]~div.ab-det-39,
.abilities-details[value="40"]~div.ab-det-40,
.abilities-details[value="41"]~div.ab-det-41,
.abilities-details[value="42"]~div.ab-det-42,
.abilities-details[value="43"]~div.ab-det-43,
.abilities-details[value="44"]~div.ab-det-44,
.abilities-details[value="45"]~div.ab-det-45,
.abilities-details[value="46"]~div.ab-det-46,
.abilities-details[value="47"]~div.ab-det-47,
.abilities-details[value="48"]~div.ab-det-48,
.abilities-details[value="49"]~div.ab-det-49,
.abilities-details[value="50"]~div.ab-det-50,
.abilities-details[value="51"]~div.ab-det-51,
.abilities-details[value="52"]~div.ab-det-52,
.abilities-details[value="53"]~div.ab-det-53,
.abilities-details[value="54"]~div.ab-det-54,
.abilities-details[value="55"]~div.ab-det-55,
.abilities-details[value="56"]~div.ab-det-56,
.abilities-details[value="57"]~div.ab-det-57,
.abilities-details[value="58"]~div.ab-det-58,
.abilities-details[value="59"]~div.ab-det-59,
.abilities-details[value="60"]~div.ab-det-60 {
    display: block;
}

div.attack-detail-1,
div.attack-detail-2,
div.attack-detail-3,
div.attack-detail-4,
div.attack-detail-5,
div.attack-detail-6,
div.attack-detail-7,
div.attack-detail-8,
div.attack-detail-9 {
    display: none;
}

.attack-toggle[value="1"]~div.attack-detail-1,
.attack-toggle[value="2"]~div.attack-detail-2,
.attack-toggle[value="3"]~div.attack-detail-3,
.attack-toggle[value="4"]~div.attack-detail-4,
.attack-toggle[value="5"]~div.attack-detail-5,
.attack-toggle[value="6"]~div.attack-detail-6,
.attack-toggle[value="7"]~div.attack-detail-7,
.attack-toggle[value="8"]~div.attack-detail-8,
.attack-toggle[value="9"]~div.attack-detail-9 {
    display: block;
}
