/*Configure the tab buttons*/
.sheet-basics,
.sheet-skills,
.sheet-spells,
.sheet-abilities,
.sheet-inventory {
    display: none;
    background-color: #e4d3a5;
    color: #522303;
    table-layout: fixed;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    border-style: solid;
}

/* show the selected tab */
.sheet-tabstoggle[value="basics"]~div.sheet-basics,
.sheet-tabstoggle[value="skills"]~div.sheet-skills,
.sheet-tabstoggle[value="spells"]~div.sheet-spells,
.sheet-tabstoggle[value="abilities"]~div.sheet-abilities,
.sheet-tabstoggle[value="inventory"]~div.sheet-inventory {
    display: block;
}

/* This code allows empty weapons to be hidden */
.wr_del_1[value=1]~.weapon_row_1,
.wr_del_2[value=1]~.weapon_row_2,
.wr_del_3[value=1]~.weapon_row_3,
.wr_del_4[value=1]~.weapon_row_4,
.wr_del_5[value=1]~.weapon_row_5,
.wr_del_6[value=1]~.weapon_row_6,
.wr_del_7[value=1]~.weapon_row_7,
.wr_del_8[value=1]~.weapon_row_8,
.wr_del_9[value=1]~.weapon_row_9 {
    display: none;
}

.wr_name_1,
.wr_name_2,
.wr_name_3,
.wr_name_4,
.wr_name_5,
.wr_name_6,
.wr_name_7,
.wr_name_8,
.wr_name_9 {
    width: 180px;
}

.div {
    background-color: #e4d3a5;
    color: #522303;
}

.sheet-tabstoggle button {
    background-color: #e4d3a5;
    color: #522303;
}


.total-wrapper {
    background-color: #e4d3a5;
    color: #522303;
    table-layout: fixed;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    border-style: solid;
    display: none;
    border-top: none;
}

.header {
    background-color: #e4d3a5;
    display: flex;
    padding: 3pt;
    margin: 3pt;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    border-style: solid;
}

.name-main-table {
    background-color: #e4d3a5;
    padding: 3pt;
    margin: 3pt;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    border-style: solid;
    width: 300pt;
}

.main-table {
    background-color: #e4d3a5;
    padding: 3pt;
    margin: 3pt;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    border-style: solid;
    width: 300pt;
}

.main-table2 {
    background-color: #e4d3a5;
    padding: 3pt;
    margin: 3pt;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    border-style: solid;
    width: 100pt;
}

.adv-table {
    background-color: #e4d3a5;
    padding: 3pt;
    margin: 3pt;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    border-style: solid;
    width: 120pt;
}

.name {
    background-color: #e4d3a5;
    padding: 3pt;
    margin: 3pt;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    border-style: solid;
    width: 300pt;
}

.adv-selector {
    width: 120px;
}

.stat-select {
    width: 48px;
}

.th {
    padding: 2px;
    margin: 2px;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    border-style: solid;
}

.tr {
    padding: 2px;
    margin: 2px;
    width: 95%;
    height: 10pt;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    background-color: #e4d3a5;
    border-style: solid;
}

.stat-th {
    margin: 1px;
    padding: 1px;
    border-width: 1pt;
    border-radius: 5pt;
}

.stat-tr {
    margin: 0px;
    padding: 0px;
    height: 10pt;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    background-color: #e4d3a5;
    border-style: solid;
}

.tr-general {
    height: 22pt;
}

.main-table2-cell {
    width: 40pt;
    padding: 2pt;
}

.main-table2-inp {
    width: 80pt;
}

.select {
    background-color: #e4d3a5 ! important;
    border-color: #392929;
    padding: 1px;
    margin: 2px;
}

.option {
    background-color: #e4d3a5 ! important;
    border-color: #392929;
    padding: 1px;
    margin: 2px;
}

.button[type="roll"] {
    background-color: #e4d3a5 ! important;
    border-style: none ! important;
    padding: 1px ! important;
    margin: 2px ! important;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background-color: #e4d3a5;
    border-color: #392929;
    padding: 1px;
    margin: 2px;
}

input[type=number] {
    -moz-appearance: textfield;
    background-color: #e4d3a5;
    border-color: #392929;
    padding: 1px;
    margin: 2px;
}

.input[type=text] {
    -moz-appearance: textfield;
    background-color: #e4d3a5;
    border-color: #392929;
    padding: 1px;
    margin: 2px;
}

.tiny-input {
    width: 2em;
}

.dice-input {
    width: 3em;
}

.tiny-input-small {
    width: 10px;
    font-size: 10px;
}

.tiny-input-big {
    width: 24px;
    font-size: 20px;
}

.tiny-input-r {
    width: 2em;
    font-size: small;
    -webkit-text-fill-background-color: #e4d3a5;
}

.stats-and-stuff-body {
    background-color: #e4d3a5;
    padding: 6pt;
    display: flex;
}

.and-stuff-body {
    background-color: #e4d3a5;
    padding: 6pt;
    display: table-column;
}

.initiative-table {
    background-color: #e4d3a5;
    padding: 3pt;
    margin: 3pt;
    width: 500pt;
    height: 40pt;
    border-width: 1pt;
    border-radius: 5pt;
    border-color: #392929;
    border-style: solid;
}

.stats-table {
    background-color: #e4d3a5;
    padding: 1pt;
    margin: 2pt;
    /* width: 30pt; */
    border-width: 1pt;
    border-radius: 3pt;
    border-color: #392929;
    border-style: solid;
}

.cell-h-div {
    display: flex;
}

.save-table {
    background-color: #e4d3a5;
    padding: 3pt;
    margin: 3pt;
    width: 30pt;
    border-width: 1pt;
    border-radius: 10pt;
    border-color: #392929;
    border-style: solid;
}

.tiny-option {
    width: 10px ! important;
    background-color: #e4d3a5;
}

.skill-table {
    background-color: #e4d3a5;
    padding: 3pt;
    margin: 3pt;
    border-width: 1pt;
    border-radius: 10pt;
    border-color: #392929;
    border-style: solid;
}